<!-- 
 <div class="container-fluid">
  <div class="row">
  <input type="date"  [(ngModel)]="BookingDate" (input)="getList()"/> 

  <button mat-flat-button color="primary" style="margin-left: 1%;" (click)="getList()">Get List</button>
  </div>
</div>  -->
<div class="container-fluid mt-10 ">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">

<div class="" style="margin-left: 1%; margin-top: 1%;">
  
  <button mat-flat-button color="primary" class="button btn-primary" data-toggle="modal" data-target="#exampleModal" 
  (click)="addReservation()"  data-backup="static" data-keyboard="false"> + Add Reservation</button>
  <br>
  <br><div style="padding-left: 1%;padding-bottom: 2%;font-weight: 600;">
  Get Reservation List of Date
  <input type="date"  [(ngModel)]="BookingDate " (input)="getList() "/> 
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dial-centered modal-xl"  role="document">
    <div class="modal-content">
      <div class="modal-header modalColor">
        <h5 class="modal-title" id="exampleModalLabel">Add Reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-reservation [reservation]="reservation" *ngIf="ActivateAddReservation"></app-add-reservation>
      
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
    <table class="table table-hover">
        <thead style="background-color:black ;">
          <tr> 
            <th scope="col"  style="color:aliceblue;">Employee Name</th>
            <th scope="col"  style="color:aliceblue;">Seat Name</th>
            <th scope="col"  style="color:aliceblue;">Booking Date</th>
            <th scope="col"  style="color:aliceblue;">Unreserve</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservationList | paginate: { itemsPerPage: 11, currentPage: page}"> 
            <td><h6>{{reservation.employeeName}}</h6></td>
            <td><h6>{{reservation.seatName}}</h6></td>
            <td><h6>{{reservation.bookingDate | date}}</h6></td>
            <!-- <td><button mat-fab color="primary"  aria-label="Example icon button with a delete icon" (click)="deleteReservation([reservation.reservationId])">
              <mat-icon class="btn">delete</mat-icon>
            </button></td> -->
            <td><button mat-stroked-button color="warn"  (click)="deleteReservation([reservation.reservationId])"  data-backup="static" data-keyboard="false"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>







</button></td>
            
          </tr>
        </tbody>
    </table>
    
</div>
<pagination-controls  (pageChange)="page = $event"></pagination-controls>



    </div>
  </div>
</div>
